flex-version = flex
support-for-ie = false
vendor-prefixes = official
@require '../../node_modules/nib/index.styl'
@require 'variables'
@require 'vendor/*'
@require 'defaults/*'

global-reset()
reset-html5()

*
  box-sizing border-box
  -webkit-tap-highlight-color rgba(255, 255, 255, 0)

a
  color var(--link)
  text-decoration underline
  transition color .1s

  &:hover
    color var(--hover)

.desktop-only
  display none

.dont-break-out
  /* These are technically the same, but use both */
  overflow-wrap break-word
  word-wrap break-word

  -ms-word-break break-all
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break break-all
  /* Instead use this non-standard one */
  word-break break-word

  /* Adds a hyphen where the word breaks, if supported (No Blink)
  -ms-hyphens auto
  -moz-hyphens auto
  -webkit-hyphens auto
  hyphens auto
  */

#app
  df()
  width 100vw
  max-width 100% // fixes bug where horizontal scrollbar appears
  font-weight var(--font-weight, 400) // fixes 300 weight too thin on windows
  letter-spacing -0.2px

  padding-bottom: 60px;

.tm-field, .tm-field
  border-radius 2px!important
  padding 0.5rem !important

input.ni-field
  height inherit !important

.ni-select .ni-field-select-addon
  height 100% !important
menu {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start 0
  -webkit-padding-end 0
}

#app-header
  background var(--app-fg)

.tm-btn__icon
  font-size 24px !important
  margin-top 1px

body.home
  overflow hidden
  background #01040d

home.page
  overflow auto
  background #fff

input
 font-family sans

textarea
 font-family sans

.header .tm-btn__container
  padding-right 5px

.header .tm-btn__icon
  font-size 21px !important
  margin-top: 1px

@media screen and (max-width: 767px)
  .tm-btn__icon
    font-size 21px !important
    margin-top -4px
    
  .header .tm-btn__container
    background #ffffff
    color #2043b5 !important
    padding 0 3px 0 5px
    margin-top: 6px

  .header .tm-btn__icon
    font-size 19px !important
    margin-top: -3px !important