@import "../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.type {
  height: 20px;
  padding: 1px 12px;
  margin-right: 10px;
  border-radius: 13.5px;
  background-color: #e4e8f6;
  line-height: 1.64;
  font-size: 11px;
  font-weight: 500;
}

.date {
  border-right: 1px solid #d8ddf0;
  margin-right: 5px;
  padding-right: 5px;
}

.status {
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: $green;
  font-weight: 500;
  font-size: 11px;
  color: white;
  text-align: center;
}

.success {
  background-color: $green;
}

.pending {
  background-color: $orange;
}

.fail {
  background-color: $red;
}

.failedMsg {
  display: flex;
  background: #fff8f9;
  padding: 15px;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #ffe6e7;
  border-radius: 5px;
  color: $red;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  .row {
    display: flex;
    border-bottom: 1px solid $line;
    line-height: 60px;
    @media (max-width: $breakpoint) {
      flex-direction: column;
      line-height: 50px;
    }
    .head {
      font-weight: 500;
      min-width: 240px;
    }
    .body {
      padding: 0 30px;
      word-break: break-all;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      @media (max-width: $breakpoint) {
        padding: 0 0 20px;
      }
    }
  }
}

.moreBtn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #5493f7;
  padding: 20px 0;
}

.more {
  border-bottom: 1px solid $line;
}
