@import "../styles/variables.scss";

.error {
  height: calc(100vh - 140px);
  display: table;
  width: 100%;
  & > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 100px 15px;
    box-sizing: border-box;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: center;
    color: $app-bg;
    @media (max-width: $breakpoint) {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 40px;
    }
  }
  p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    text-align: center;
    padding: 0;
    color: $link;
    max-width: 540px;
    margin: 0 auto;
    word-break: break-word;
    @media (max-width: $breakpoint) {
      font-size: 15px;
      padding: 0 20px;
    }
    span {
      color: $link-bg;
    }
  }
  i {
    font-size: 72px;
    color: $link;
    display: block;
    line-height: 1;
    @media (max-width: $breakpoint) {
      font-size: 60px;
    }
  }
  a {
    display: block;
    margin: 50px auto 0;
    width: 187px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: $link-bg;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    @media (max-width: $breakpoint) {
      width: 176px;
      font-size: 16px;
    }
  }
}
