@import "../styles/variables.scss";

.msgBox {
  height: auto;
  display: block;
  border-radius: 5px;
  border: 1px solid $line;
  background-color: #fbfdff !important;
  margin: 25px 0;
  padding: 0 20px;
  overflow: auto;
  font-size: 15px;
  width: 100%;
  .type {
    padding: 20px;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid $line;
    margin-left: -20px;
    margin-right: -20px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  .msgWrapper {
    line-height: 1.5;
    margin: 20px 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    @media (max-width: $breakpoint) {
      display: flex;
      flex-direction: column;
    }
    .key {
      display: table-cell;
    }
    .key:first-child {
      width: 200px;
      font-weight: 500;
      font-size: 14px;
      padding-right: 20px;
    }
  }
}

.events {
  margin-bottom: 20px;
  @media (max-width: $breakpoint) {
    tr,
    th,
    td {
      display: block;
    }
    tr {
      margin-bottom: 10px;
    }
  }
}

.eventType {
  font-weight: normal;
  font-size: 16px;
  @media (max-width: $breakpoint) {
    margin-top: 20px;
    font-weight: 500;
  }
}

.attrKey {
  width: 155px;
  font-weight: 500;
}

.attrValue {
  white-space: pre-line;
}
